body {
  margin: 0;
  background: #000;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  background: black;
}

#controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.player-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: auto;
}

.left-controls {
  margin-left: 20px;
}

.right-controls {
  margin-right: 20px;
}

button {
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
  color: white;
  width: 60px;
  border: none;
}
