body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.mole {
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    position: relative;
    margin: auto;
}

#score {
    font-size: 24px;
    font-weight: bold;
}